<!DOCTYPE html>

<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3Y25VW1RJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-M3Y25VW1RJ');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rəqəmsal Kabinet</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/Images/new Logo - white.png">
    <link href="/Style/AdminPage.css" rel="stylesheet" />
    <link href="/Style/FormUI.css" rel="stylesheet" />
    <link href="/Style/APHome.css" rel="stylesheet" />
    <link href="/Style/adminpanelevents.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <header>
        <i id="menubtn" class="fas fa-bars"></i>
        <div class="header-center">
            <a href="/Home.html">
                <!--<img src="Images/volunteers.png" alt="">-->
                <img src="/Images/new Logo - white.png" alt="">
            </a>
        </div>
        <!--<i class="fas fa-sign-out-alt"></i>-->
        <div class="header-right">
            <i class="fas fa-sun themebtn"></i>
            <i class="fas fa-bell notficationbtn"></i>
            <img class="profilebtn" src="/Images/Staff/Ceferisadiq Ibrahimov.jfif" alt="">
        </div>
        <div class="profile-menu mini-menu">
            <ul>
                <li class="profile-details">
                    <img src="/Images/Staff/Yagmur Novruzlu 2.jpg" alt="">
                    <div class="name-role">
                        <p class="name">Yağmur Novruzlu</p>
                        <p class="department">Developer</p>
                    </div>
                </li>
                <hr class="menu-line">
                </hr>
                <li><a href="/UserProfile.html"><i class="fas fa-user"></i>
                        <p>Profilim</p>
                    </a></li>
                <li><a href="/ProfileQrCode.html"><i class="fas fa-qrcode"></i>
                        <p>QR Kodum</p>
                    </a></li>
                <li><a href="/Views/Admin/Settings.html"><i class="fas fa-cog"></i>
                        <p>Parametrlər</p>
                    </a></li>
                <hr class="menu-line">
                </hr>
                <li><a href="/login.html"><i class="fas fa-sign-out-alt"></i>
                        <p>Çıxış</p>
                    </a></li>
            </ul>
        </div>
        <div class="notfication-menu mini-menu">
            <div class="notfication">
                <p class="title">Tədbirə qeydiyyat</p>
                <p class="body">"Proqramlaşdırma seminarı" tədbirinə qeydiyyatınız uğurla tamamlandı.</p>
            </div>
        </div>
    </header>


    <aside>
        <ul>
            <li class="activepage">
                <a href="/Views/Admin/AdminPanel.html">
                    <i class="fas fa-home"></i>
                    <p>Əsas səhifə</p>
                </a>
            </li>
            <li>
                <a href="/Views/Admin/userlist.html">
                    <i class="fas fa-user"></i>
                    <p>İstifadəçilər</p>
                </a>
            </li>
            <li>
                <a href="/Views/Admin/APStaff.html">
                    <i class="fas fa-users"></i>
                    <p>Heyət üzvləri</p>
                </a>
            </li>
            <li>
                <a href="/Views/Admin/APEvents.html">
                    <i class="fas fa-calendar-day"></i>
                    <p>Tədbirlər</p>
                </a>
            </li>
            <li>
                <a href="/Views/Admin/APNews.html">
                    <i class="fas fa-newspaper"></i>
                    <p>Xəbərlər</p>
                </a>
            </li>
            <li>
                <a href="/Views/Admin/DailyLogins.html">
                    <i class="fas fa-chart-bar"></i>
                    <p>Girişlər</p>
                </a>
            </li>
            <li>
                <a href="/Views/Admin/ActivityPoints.html">
                    <i class="fas fa-chart-line"></i>
                    <p>Aktivlik</p>
                </a>
            </li>
        </ul>
    </aside>

    <main>
        <section id="digi-greeting">
            <img src="/Images/Digi_greeting.png" alt="">
            <div class="welcome">
                <p class="hello">Salam <span id="loginname">Cəfərisadiq</span>. Xoş gəlmisən!</p>
                <p class="digi">Mən Digi. Yaxın zamanda sənə daha yaxın olacağam!</p>
            </div>
        </section>

        <section id="hardworkers" class="userlist">

            <h2>Ən aktiv 5 üzv</h2>

            <ul class="users">
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Yagmur Novruzlu 3.jpg" alt="">
                            <div class="details">
                                <p class="username">Novruzlu Yağmur</p>
                                <p class="department">IT departamenti</p>
                            </div>
                        </div>
                        <p class="point">52 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Yusif Ferecli.jpeg" alt="">
                            <div class="details">
                                <p class="username">Fərəcli Yusif</p>
                                <p class="department">Fakültə sədri</p>
                            </div>
                        </div>
                        <p class="point">44 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Nihad İsgenderov.jpg" alt="">
                            <div class="details">
                                <p class="username">İsgəndərov Nihad</p>
                                <p class="department">SMM departamenti</p>
                            </div>
                        </div>
                        <p class="point">41 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Mujgan Aliyeva.jpg" alt="">
                            <div class="details">
                                <p class="username">Əliyeva Müjgan</p>
                                <p class="department">PR departamenti</p>
                            </div>
                        </div>
                        <p class="point">39 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Erkinaz Muradova.jpg" alt="">
                            <div class="details">
                                <p class="username">Muradova Ərkinaz</p>
                                <p class="department">HR departamenti</p>
                            </div>
                        </div>
                        <p class="point">35 bal</p>
                    </div>
                </li>
            </ul>
            <a href="/Views/Admin/userlist.html" class="action-button primary">Tam bax</a>
            </div>
        </section>

        <div id="counts">
            <section id="usercount">
                <i class="fas fa-user"></i>
                <div class="statistics">
                    <div class="change">
                        <p class="increase">+6%</p>
                    </div>
                    <div class="data-value">
                        <p class="value">416</p>
                        <p class="data">İstifadəçi</p>
                    </div>
                    <div class="last-month">
                        <p>Keçən ay: <span>400</span></p>
                    </div>
                </div>
            </section>
            <section id="newscount">
                <i class="fas fa-newspaper"></i>
                <div class="statistics">
                    <div class="change">
                        <p class="decrase">-20%</p>
                    </div>
                    <div class="data-value">
                        <p class="value">8</p>
                        <p class="data">Həftəlik Xəbər</p>
                    </div>
                    <div class="last-month">
                        <p>Keçən həftə: <span>10</span></p>
                    </div>
                </div>
            </section>
            <section id="eventcount">
                <i class="fas fa-calendar-day"></i>
                <div class="statistics">
                    <div class="change">
                        <p class="increase">+20%</p>
                    </div>
                    <div class="data-value">
                        <p class="value">12</p>
                        <p class="data">Tədbir</p>
                    </div>
                    <div class="last-month">
                        <p>Keçən ay: <span>10</span></p>
                    </div>
                </div>
            </section>
            <section id="admincount">
                <i class="fas fa-users"></i>
                <div class="statistics">
                    <div class="change">
                        <p class="increase">+5%</p>
                    </div>
                    <div class="data-value">
                        <p class="value">40</p>
                        <p class="data">Heyət üzvü</p>
                    </div>
                    <div class="last-month">
                        <p>Keçən ay: <span>38</span></p>
                    </div>
                </div>
            </section>
        </div>

        <div id="newschart" class="half-width">
            <div id="readingofnews" class="piechart"></div>
        </div>

        <div id="corpuschart" class="half-width">
            <div id="activityofcorpus" class="piechart"></div>
        </div>

        <div id="weeklylogin">
            <div id="loginchart" class="piechart"></div>
        </div>

        <section id="lastactivties" class="userlist">

            <h2>Son 5 aktivlik balı</h2>

            <ul class="users">
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Ali Memmedov.jpg" alt="">
                            <div class="details">
                                <p class="username">Əli Məmmədov</p>
                                <p class="department">Fakültə sədri</p>
                            </div>
                        </div>
                        <p class="change increase">+7 bal</p>
                        <p class="date change">3 Okt</p>
                        <p class="point">32 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Yusif Ferecli.jpeg" alt="">
                            <div class="details">
                                <p class="username">Fərəcli Yusif</p>
                                <p class="department">Fakültə sədri</p>
                            </div>
                        </div>
                        <p class="change increase">+2 bal</p>
                        <p class="date change">3 Okt</p>
                        <p class="point">44 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Aysel_Zeynallı.jpg" alt="">
                            <div class="details">
                                <p class="username">Aysel Zeynallı</p>
                                <p class="department">Fakültə üzrə sədr müavini</p>
                            </div>
                        </div>
                        <p class="change decrase">-2 bal</p>
                        <p class="date change">2 Okt</p>
                        <p class="point">24 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Vuqar Eliyev.jpg" alt="">
                            <div class="details">
                                <p class="username">Vüqar Əliyev</p>
                                <p class="department">Fakültə sədri</p>
                            </div>
                        </div>
                        <p class="change decrase">-4 bal</p>
                        <p class="date change">1 Okt</p>
                        <p class="point">14 bal</p>
                    </div>
                </li>
                <li class="user">
                    <div class="main-datas">
                        <div class="picname">
                            <img src="/Images/Staff/Nihad İsgenderov.jpg" alt="">
                            <div class="details">
                                <p class="username">İsgəndərov Nihad</p>
                                <p class="department">SMM departamenti</p>
                            </div>
                        </div>
                        <p class="change increase">+5 bal</p>
                        <p class="date change">29 Sen</p>
                        <p class="point">41 bal</p>

                    </div>
                </li>
            </ul>
            <a href="/Views/Admin/userlist.html" class="action-button primary">Tam bax</a>
            </div>
        </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/JavaScript/profiles.json"></script>
    <script src="/JavaScript/Theme.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        var user = JSON.parse(localStorage.getItem("user"));

        $(".header-right img").attr("src", user.profileimg);
        $(".profile-menu .profile-details img").attr("src", user.profileimg);
        $(".profile-menu .profile-details .name").text(user.name);
        $(".profile-menu .profile-details .department").text(user.department);
        $("#loginname").text(user.onlyname);

        $(document).ready(function () {
            if ($("aside").hasClass("small-menu") == false) {
                var mainWidth = $("main").width();
                mainWidth -= 250;
                if (screen.width > 600) {
                    $("main").width(mainWidth);
                    $("main").css("margin-left", "250px");
                }
            }

            var userlistheight = $("#user-list").outerHeight();
            $("#counts").innerHeight(userlistheight);


            if (screen.width > 600) {
                $("#digi-greeting").height($("#hardworkers").height());
            }
        });

        $("#menubtn").click(function () {
            $("aside").toggleClass("small-menu");
            if (screen.width > 600) {
                if ($("aside").hasClass("small-menu")) {
                    var width = $("main").width();
                    width += 170;
                    $("main").width(width);
                    $("main").css("margin-left", "80px");
                    $("aside ul").width("50px");
                    $(".half-width svg").width($(".half-width").width());
                    $(".piechart svg").width($(".half-width").width());
                }
                else {
                    $("main").css("margin-left", "250px");
                    var width = $("main").width();
                    width -= 170;
                    $("main").width(width);
                    $("aside ul").width("220px");

                    $(".half-width svg").width($(".half-width").width());
                    $(".piechart svg").width($(".half-width").width());
                }
            }
            else {
                if ($("aside").hasClass("small-menu")) {
                    $("aside").height($(document).height());
                }
                else {
                    $("aside").height(0);
                }
            }
        });

        $(".profilebtn").click(function () {
            $(".notfication-menu").hide();
            $(".profile-menu").toggle();
        });

        $(".notficationbtn").click(function () {
            $(".profile-menu").hide();
            $(".notfication-menu").toggle();
        });

        var height = $(document).height();
        $(".pop-up").height(height);

    </script>

    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Korpus', 'Tədbir sayı'],
                ['İçərişəhər', 5],
                ['Gənclik', 7],
                ['Nizami', 6],
                ['Semaşko', 3]
            ]);

            var options = {
                title: 'Korpusda keçirilən tədbirlər',
                titleTextStyle: {
                    fontSize: 22
                },
                height: 500,
                pieHole: 0.4,
                slices: {
                    0: { color: '#131850' },
                    1: { color: '#37abdc' },
                    2: { color: '#5E17EB' },
                    3: { color: '#006bce' },
                },
                legend: {
                    alignment: 'center',
                    textStyle: {
                        fontSize: 16,
                        bold: true
                    }
                },
                pieSliceTextStyle: {
                    fontSize: 16
                },
                chartArea: {
                    left: 20,
                    width: "70%",
                    height: "70%",
                }
            };

            if (screen.width <= 600) {
                options.legend.position = "bottom";
                options.legend.maxLines = 4;
            }

            var chart = new google.visualization.PieChart(document.getElementById('activityofcorpus'));

            if ($(".themebtn").hasClass("fa-sun")) {
                options.legend.textStyle.color = "#080708";
                options.backgroundColor = "#fff";
                options.titleTextStyle.color = "#080708";
            }
            else {
                options.legend.textStyle.color = "#fff";
                options.backgroundColor = "#141824";
                options.titleTextStyle.color = "#fff";
            }

            $(document).ready(function () {
                chart.draw(data, options);
            });

            $(".themebtn").click(function () {
                if ($(this).hasClass("fa-sun")) {
                    options.legend.textStyle.color = "#080708";
                    options.backgroundColor = "#fff";
                    options.titleTextStyle.color = "#080708";
                    chart.draw(data, options);
                }
                else {
                    options.legend.textStyle.color = "#fff";
                    options.backgroundColor = "#141824";
                    options.titleTextStyle.color = "#fff";
                    chart.draw(data, options);
                }
            });
        }
    </script>

    <script type="text/javascript">
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Xəbər", "Oxunma sayı", { role: "style" }],
                ['"UNECBot" istifadəyə verildi', 21, "#131850"],
                ["Rəqəmsal könüllülər təşkilatında sədr dəyişikliyi oldu", 20, "#37abdc"],
                ["Rəqəmsal könüllülər təşkilatının saytı istifadəyə verildi", 22, "#5E17EB"],
                ["Ödənişsiz magistratura hazırlığı", 20, "color: #006bce"],
                ["UNEC QS sıralamasında ölkə birincisi oldu!", 18, "color: #2A245E"]
            ]);

            var view = new google.visualization.DataView(data);

            var options = {
                title: "Ən çox oxunan 5 xəbər",
                titleTextStyle: {
                    fontSize: 22
                },
                height: 500,
                bar: { groupWidth: "90%" },
                legend: { position: "none" },
                chartArea: {
                    top: 70,
                    width: "85%"
                }
            };
            var columnchart = new google.visualization.ColumnChart(document.getElementById("readingofnews"));


            if ($(".themebtn").hasClass("fa-sun")) {
                options.hAxis = {
                    textStyle: {
                        color: '#080708',
                    }
                }
                options.vAxis = {
                    textStyle: {
                        color: '#080708',
                    }
                }
                options.backgroundColor = "#fff";
                options.titleTextStyle.color = "#080708";
            }
            else {
                options.hAxis = {
                    textStyle: {
                        color: '#fff',
                    }
                }
                options.vAxis = {
                    textStyle: {
                        color: '#fff',
                    }
                }
                options.backgroundColor = "#141824";
                options.titleTextStyle.color = "#fff";
            }

            $(document).ready(function () {
                columnchart.draw(view, options);
            });

            $(".themebtn").click(function () {
                if ($(this).hasClass("fa-sun")) {
                    options.hAxis = {
                        textStyle: {
                            color: '#080708',
                        }
                    }
                    options.vAxis = {
                        textStyle: {
                            color: '#080708',
                        }
                    }
                    options.backgroundColor = "#fff";
                    options.titleTextStyle.color = "#080708";
                    columnchart.draw(view, options);
                }
                else {
                    options.hAxis = {
                        textStyle: {
                            color: '#fff',
                        }
                    }
                    options.vAxis = {
                        textStyle: {
                            color: '#fff',
                        }
                    }
                    options.backgroundColor = "#141824";
                    options.titleTextStyle.color = "#fff";
                    columnchart.draw(view, options);
                }
            });

            $("#menubtn").click(function () {
                setTimeout(function () {
                    const width = $("#newschart svg").width();
                    options.width = width;
                    columnchart.draw(view, options);
                }, 300);
            });
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Tarix", "Giriş sayı", { role: "style" }],
                ["02 Okt", 21, "#37abdc"],
                ["03 Okt", 22, "#37abdc"],
                ["04 Okt", 20, "#37abdc"],
                ["05 Okt", 22, "#37abdc"],
                ["06 Okt", 19, "#37abdc"],
                ["07 Okt", 18, "#37abdc"],
                ["08 Okt", 21, "#37abdc"],
                ["09 Okt", 23, "#37abdc"],
                ["10 Okt", 19, "#37abdc"],
                ["11 Okt", 20, "#37abdc"],
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);
            var options = {
                title: "10 günlük giriş sayı",
                titleTextStyle: {
                    color: "#ffffff",
                    fontSize: 22
                },
                height: 460,
                bar: { groupWidth: "90%" },
                legend: { position: "none" },
                hAxis: {
                    textStyle: {
                        color: 'white',
                        bold: true
                    }
                },
                vAxis: {
                    textStyle: {
                        color: 'white',
                        bold: true
                    }
                },
                chartArea: {
                    top: 70,
                    width: "85%",
                },
                backgroundColor: {
                    fill: "#006bce"
                },
                annotations: {
                    textStyle: {
                        opacity: 0
                    }
                }
            };
            var loginchart = new google.visualization.ColumnChart(document.getElementById("loginchart"));

            $(document).ready(function () {
                loginchart.draw(view, options);
            });

            $("#menubtn").click(function () {
                setTimeout(function () {
                    const width = $("#newschart svg").width();
                    options.width = width;
                    loginchart.draw(view, options);
                }, 300);
            });
        }
    </script>

</body>

</html>