<!DOCTYPE html>

<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3Y25VW1RJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-M3Y25VW1RJ');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rəqəmsal Kabinet</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/Images/new Logo - white.png">
    <link href="/Style/AdminPage.css" rel="stylesheet" />
    <link href="/Style/FormUI.css" rel="stylesheet" />
    <link href="/Style/Client/UserPanel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <header>
        <i id="menubtn" class="fas fa-bars"></i>
        <div class="header-center">
            <a href="Home.html">
                <!--<img src="Images/volunteers.png" alt="">-->
                <img src="/Images/new Logo - white.png" alt="">
            </a>
        </div>
        <!--<i class="fas fa-sign-out-alt"></i>-->
        <div class="header-right">
            <i class="fas fa-sun themebtn"></i>
            <i class="fas fa-bell notficationbtn"></i>
            <img class="profilebtn" src="/Images/Staff/Ceferisadiq Ibrahimov.jfif" alt="">
        </div>
        <div class="profile-menu mini-menu">
            <ul>
                <li class="profile-details">
                    <img src="/Images/Staff/Yagmur Novruzlu 2.jpg" alt="">
                    <div class="name-role">
                        <p class="name">Yağmur Novruzlu</p>
                        <p class="department">Developer</p>
                    </div>
                </li>
                <hr class="menu-line">
                </hr>
                <li><a href="/UserProfile.html"><i class="fas fa-user"></i>
                        <p>Profilim</p>
                    </a></li>
                <li><a href="/ProfileQrCode.html"><i class="fas fa-qrcode"></i>
                        <p>QR Kodum</p>
                    </a></li>
                <li><a href="#"><i class="fas fa-cog"></i>
                        <p>Parametrlər</p>
                    </a></li>
                <hr class="menu-line">
                </hr>
                <li><a href="/login.html"><i class="fas fa-sign-out-alt"></i>
                        <p>Çıxış</p>
                    </a></li>
            </ul>
        </div>
        <div class="notfication-menu mini-menu">
            <p class="empty">Bildiriş yoxdur</p>
        </div>
    </header>


    <aside>
        <ul>
            <li class="activepage">
                <a href="/UserPanel.html">
                    <i class="fas fa-home"></i>
                    <p>Əsas səhifə</p>
                </a>
            </li>
            <li>
                <a href="APEvents.html">
                    <i class="fas fa-calendar-day"></i>
                    <p>Tədbirlərim</p>
                </a>
            </li>
            <li>
                <a href="APNews.html">
                    <i class="fas fa-newspaper"></i>
                    <p>Xəbərlər</p>
                </a>
            </li>
        </ul>
    </aside>

    <main>
        <section id="digi-greeting">
            <img src="/Images/Digi_greeting.png" alt="">
            <div class="welcome">
                <p class="hello">Salam <span id="loginname">İstifadəçi</span>. Xoş gəlmisən!</p>
                <p class="digi">Mən Digi. Yaxın zamanda sənə daha yaxın olacağam!</p>
            </div>
        </section>
        <section id="profile">
            <img src="/Images/Staff/Yagmur_Novruzov.jpg" />
            <p class="name">Yağmur Novruzov</p>
            <p class="profession">Informasiya Texnologiyaları</p>
            <div class="actions">
                <a href="#" class="action">
                    <i class="fas fa-cog"></i>
                    <p>Parametrlər</p>
                </a>
                <span class="border"></span>
                <a href="#" class="action">
                    <i class="fas fa-qrcode"></i>
                    <p>QR Kod</p>
                </a>
            </div>
        </section>
        <section class="incomings" id="news">
            <h2>Elanlar</h2>
            <div class="icon-list">
                <div class="icon">
                    <i class="fas  fa-bullhorn"></i>
                </div>
                <div class="incomings-list">
                    <div class="inform">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores itaque, praesentium
                            architecto repellat laborum odio, suscipit aliquid mollitia inventore reprehenderit
                            porro vitae fugit dolore corporis magni, dignissimos recusandae maxime illum dolorum
                            similique facilis atque. Odio soluta eius reiciendis delectus animi dicta, suscipit,
                            totam cupiditate dolorum repudiandae ipsa sunt sequi ratione vero aliquid ex veritatis?
                            Dignissimos eius quibusdam mollitia alias consequuntur.</p>
                        <p class="date">29.10.2023</p>
                    </div>
                    <div class="inform">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores itaque, praesentium
                            architecto repellat laborum odio, suscipit aliquid mollitia inventore reprehenderit
                            porro vitae fugit dolore corporis magni, dignissimos recusandae maxime illum dolorum
                            similique facilis atque. Odio soluta eius reiciendis delectus animi dicta, suscipit,
                            totam cupiditate dolorum repudiandae ipsa sunt sequi ratione vero aliquid ex veritatis?
                            Dignissimos eius quibusdam mollitia alias consequuntur.</p>
                        <p class="date">17.10.2023</p>
                    </div>
                    <div class="inform">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores itaque, praesentium
                            architecto repellat laborum odio, suscipit aliquid mollitia inventore reprehenderit
                            porro vitae fugit dolore corporis magni, dignissimos recusandae maxime illum dolorum
                            similique facilis atque. Odio soluta eius reiciendis delectus animi dicta, suscipit,
                            totam cupiditate dolorum repudiandae ipsa sunt sequi ratione vero aliquid ex veritatis?
                            Dignissimos eius quibusdam mollitia alias consequuntur.</p>
                        <p class="date">19.09.2023</p>
                    </div>
                </div>
            </div>

            <div class="viewall">
                <a href="#">Hamısına bax <i class="fas fa-arrow-right"></i></a>
            </div>
        </section>

        <section class="incomings" id="informs">
            <h2>Xəbərdarlıqlar</h2>
            <div class="icon-list">
                <div class="icon">
                    <i class="fas warning fa-exclamation-triangle"></i>
                </div>
                <div class="incomings-list">
                    <div class="inform">
                        <p>Data analtika tədbiri üçün qeydiyyatdan keçdiyiniz halda tədbirə gəlmədiniz. Bu hal bir
                            daha
                            təkrarlanarsa lazımi tədbirlər görüləcək</p>
                        <p class="date">16.10.2023</p>
                    </div>
                    <div class="inform">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="date">16.10.2023</p>
                    </div>
                    <div class="inform">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quasi cupiditate aliquid
                            facere dolorem officiis, velit eius magnam dicta sed eaque, voluptatem aut id
                            praesentium necessitatibus architecto non labore adipisci repellendus error
                            exercitationem possimus quos. Neque excepturi minima voluptatibus nisi, delectus
                            similique placeat. Aut facilis cum earum repudiandae explicabo deleniti excepturi
                            perspiciatis aspernatur. Magni maxime neque ducimus in officiis earum, labore nisi esse
                            ratione alias veritatis iusto repudiandae tempora quas iste dolores suscipit molestias?
                            Voluptatibus pariatur hic quia veniam repudiandae.</p>
                        <p class="date">16.10.2023</p>
                    </div>
                </div>
            </div>

            <div class="viewall">
                <a href="#">Hamısına bax <i class="fas fa-arrow-right"></i></a>
            </div>

        </section>

        <div class="pop-up">
            <section id="review">
                <div class="data-column">
                    <img data-detail="image" src="/Images/Events/dropshipping.jpg" alt="">
                </div>
                <div class="data-column">
                    <h4>"Dropshipping" tədbiri barədə fikirləriniz.</h4>
                    <div class="stars">
                        <i class="far fa-star" data-number="1"></i>
                        <i class="far fa-star" data-number="2"></i>
                        <i class="far fa-star" data-number="3"></i>
                        <i class="far fa-star" data-number="4"></i>
                        <i class="far fa-star" data-number="5"></i>
                    </div>
                    <div class="offer">
                        <p>Təklif və iradlarınız:</p>
                        <textarea class="daisy" name="" id="comment" cols="30" rows="10"></textarea>
                        <p id="errormessage"></p>
                    </div>
                </div>
                <div class="data-column close">
                    <i class="fas fa-times"></i>
                    <div id="cancel" class="action-button danger-hover">Ləğv et</div>
                    <button id="score" class="action-button primary-hover">Təsdiqlə</button>
                </div>
            </section>
        </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="JavaScript/profiles.json"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/JavaScript/Theme.js"></script>
    <script>
        var user = JSON.parse(localStorage.getItem("user"));

        $(".header-right img").attr("src", user.profileimg);
        $(".profile-menu .profile-details img").attr("src", user.profileimg);
        $(".profile-menu .profile-details .name").text(user.name);
        $(".profile-menu .profile-details .department").text(user.department);
        $("#loginname").text(user.onlyname);

        $(document).ready(function () {
            if ($("aside").hasClass("small-menu") == false) {
                var mainWidth = $("main").width();
                mainWidth -= 250;
                if (screen.width > 600) {
                    $("main").width(mainWidth);
                    $("main").css("margin-left", "250px");
                    $("aside").height($(document).height());
                }
            }
        });

        $("#menubtn").click(function () {
            $("aside").toggleClass("small-menu");
            if (screen.width > 600) {
                if ($("aside").hasClass("small-menu")) {
                    var width = $("main").width();
                    width += 170;
                    $("main").width(width);
                    $("main").css("margin-left", "80px");
                    $("aside ul").width("50px");
                }
                else {
                    $("main").css("margin-left", "250px");
                    var width = $("main").width();
                    width -= 170;
                    $("main").width(width);
                    $("aside ul").width("220px");
                }
            }
            else {
                if ($("aside").hasClass("small-menu")) {
                    $("aside").height($(document).height());
                }
                else {
                    $("aside").height(0);
                }
            }
        });

        $(".profilebtn").click(function () {
            $(".profile-menu").toggle();
        });

        var height = $(document).height();
        $(".pop-up").height(height);


    </script>

    <script>
        $("#review").parent().css("display", "none");


        $(".close i").click(function () {
            $("#review").parent().css("display", "none");
        });
        $("#cancel").click(function () {
            $("#review").parent().css("display", "none");
        });
        $(".stars i").mouseenter(function () {
            for (let i = 1; i <= 5; i++) {
                $(".stars i[data-number=" + i + "]").removeClass("fas");
                $(".stars i[data-number=" + i + "]").addClass("far");
            }
            const num = $(this).attr("data-number");
            for (let i = 1; i <= num; i++) {
                $(".stars i[data-number=" + i + "]").removeClass("far");
                $(".stars i[data-number=" + i + "]").addClass("fas");
            }
        });
        $("#score").click(function () {
            const textarea = $("#comment");
            const comment = textarea.val();
            const star = $(".stars .fas").length;
            const error = $("#errormessage");

            if (star === 0) {
                error.text("*Tədbiri ulduz əsasında qiymətləndirin");
                textarea.css("height", "154px");
            }
            else if (comment === "") {
                error.text("*Tədbir barədə rəy bildirin");
                textarea.css("height", "154px");
            }
            else {
                $("#review").parent().css("display", "none");
            }
            console.log(star, comment);
        });
    </script>

</body>

</html>