<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rəqəmsal Kabinet</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/Images/new Logo - white.png">
    <link href="/Style/FormUI.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <main style="width: 100%;display: flex;flex-direction: column;align-items: center;margin-bottom: 30px;">
        <div style="width: 1000px;display: flex;align-items: center;margin-top: 50px;justify-content: space-around;"
            class="logos">
            <img width="200" src="/Images/new Logo.png" alt="">
            <img width="200" src="/Images/unec logo png.png" alt="">
        </div>
        <div style="margin-top: 50px;flex-direction: column;">
            <h3 style="text-align: center;color: #131850;">Hörmətli Yağmur Novruzlu,</h3>
            <p style="font-size: 18px;color: #222;text-align: center;">
                Rəqəmsal könüllülər təşkilatının rəqəmsal platforması üçün qeydiyyatınız uğurla tamamlanmışdır. <br>
                Kabinetinizə giriş üçün aşağıdakı məlumatlardan istifadə edə bilərsiniz.
            </p>
        </div>
        <div style="margin-top: 50px;display: flex;flex-direction: row;justify-content: space-around;width: 1000px;
        display: flex;align-items: center;">
            <div style="margin-top: 20px;display: flex;flex-direction: column;border: 1px solid #222;width: 200px;">
                <p style="width: 100%;background-color: #006bce;color: #fff;margin: 0;padding: 4px 8px;"><i
                        class="fas fa-user"></i>&nbsp;&nbsp;İstifadəçi adı:</p>
                <p style="margin: 0;padding: 4px 8px;">novruzoff</p>
            </div>
            <div style="margin-top: 20px;display: flex;flex-direction: column;border: 1px solid #222;width: 200px;">
                <p style="width: 100%;background-color: #006bce;color: #fff;margin: 0;padding: 4px 8px;"><i
                        class="fas fa-key"></i>&nbsp;&nbsp;Şifrə:</p>
                <p style="margin: 0;padding: 4px 8px;">salam123</p>
            </div>
        </div>
        <div style="margin-top: 30px;display: flex;justify-content: center;">
            <a href="https://www.digitalvolunteers.xyz/" style="text-decoration: none;padding: 8px 20px;background-color: #006bce;
            color: white;border-radius: 8px;font-weight: 500;font-size: 20px;">Sayta keçid</a>
        </div>
        <div style="width: 1000px;margin-top: 50px;display: flex;flex-direction: column;align-items: center;">
            <h3>Kabinetin üstünlükləri</h3>
            <div style="display: flex;flex-direction: row;width: 100%;margin-top: 20px;justify-content: space-between;">
                <div style="width: 30%;display: flex;flex-direction: column;height: 240px;">
                    <h5 style="margin-top: 14px;height: 50px;">Bir kliklə təbdirə qeydiyyat</h5>
                    <p>Təşkilatımız tərəfindən keçirilən tədbirlərə artıq sadəcə bir klik etməklə qeydiyyatdan keçə
                        bilərsiniz.</p>
                </div>
                <div style="width: 30%;display: flex;flex-direction: column;height: 240px;">
                    <h5 style="margin-top: 14px;height: 50px;">İdarə heyətinə bir başa müraciət</h5>
                    <p>Təşkilatımızın idarə heyəti vəzifələrinə artıq rahatlıqla müraciət göndərə, daha sonra
                        müraciətinizin statusunu izləyə bilərsiniz.</p>
                </div>
                <div style="width: 30%;display: flex;flex-direction: column;height: 240px;">
                    <h5 style="margin-top: 14px;height: 50px;">Sertifikatlarınızı vaxtında əldə etmək</h5>
                    <p>Təşkilatımız tərəfindən keçirilən sertifikatlı təlimlərdən əldə etdiyiniz sertifikatların PDF
                        variantları bir başa kabinetinizə yüklənəcəkdir.</p>
                </div>
            </div>
        </div>
        <div style="width: 80%; margin-top: 40px;display: flex;flex-direction: column;align-items: center;">
            <p style="width: fit-content;margin-bottom: 10px;font-weight: 500;font-size: 18px;">Sosial şəbəkələrimizdən
                bizi daha yaxından izləyin</p>
            <div style="width: 500px;display: flex;justify-content: space-evenly;">
                <a target="_blank" href="https://www.instagram.com/unecdigitalvolunteers/" style="color: #444;">
                    <i class="fab fa-instagram instagram" style="font-size: 24px;"></i>
                </a>
                <a target="_blank" href="https://t.me/reqemsalkonulluler" style="color: #444;">
                    <i class="fab fa-telegram-plane telegram" style="font-size: 24px;"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/unecdg" style="color: #444;">
                    <i class="fab fa-facebook facebook" style="font-size: 24px;"></i>
                </a>
                <a target="_blank"
                    href="https://www.linkedin.com/company/unec-digital-volunteers-organization/mycompany/"
                    style="color: #444;">
                    <i class="fab fa-linkedin linkedin" style="font-size: 24px;"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/@unecdigitalvolunteers" style="color: #444;">
                    <i class="fab fa-youtube youtube" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </main>

</body>

</html>