<!DOCTYPE html>

<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3Y25VW1RJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-M3Y25VW1RJ');
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rəqəmsal Kabinet - Tədbirlər</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
    crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="Images/new Logo - white.png" />
  <link href="/Style/Mainpage.css" rel="stylesheet" />
  <link href="/Style/Events.css" rel="stylesheet" />
  <link href="/Style/FormUI.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Caramel&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="header-left">
      <!--<img src="Images/volunteers.png" alt="">-->
      <a href="/Home.html"><img src="/Images/new Logo - white.png" alt="" /></a>
      <i id="menubtn" class="fas fa-bars"></i>
    </div>
    <div class="header-mid">
      <ul>
        <a href="/Events.html">
          <li>Tədbirlər</li>
        </a>
        <a href="/About.html">
          <li>Haqqında</li>
        </a>
        <a href="/News.html">
          <li>Xəbərlər</li>
        </a>
        <a href="/Staff.html">
          <li>Heyət</li>
        </a>
      </ul>
      <a href="/Home.html"><img src="/Images/new Logo - white.png" alt="" /></a>
    </div>
    <div class="header-right">
      <a href="/login.html">Üzv girişi</a>
    </div>
  </header>

  <nav>
    <ul>
      <a href="/Events.html">
        <li>Tədbirlər</li>
      </a>
      <a href="/About.html">
        <li>Haqqında</li>
      </a>
      <a href="/News.html">
        <li>Xəbərlər</li>
      </a>
      <a href="/Staff.html">
        <li>Heyət</li>
      </a>
    </ul>
  </nav>

  <main>
    <section id="lastevent" style="background-image: url(/Images/Event_Gallery/orkhan_closing.jpg);">
      <div class="shadow"></div>
      <div class="details">
        <p class="name">"Sosial mediadan pul qazanmaq" və "Tələbənin şəxsi brendinqi"</p>
        <p class="date-view">
          <i class="fas fa-calendar-alt"></i>10 Oktyabr 2023 |
          <i class="fas fa-map-marker-alt"></i>III saylı korpus
        </p>
        <p class="caption">
          10 oktyabr 2023-cü il tarixində Rəqəmsal Könüllülər Təşkilatı təşkilatçılığı ilə "Sosial mediadan
          pul qazanmaq" və
          "Tələbənin şəxsi brendinqi" mövzuları barədə tədbir baş tutmuşdur.
          Tədbirin qonaqları neuromarketinq mütəxəssisi Orxan Şahbaz və sosial media məsləhətçisi Ələmdar
          Manafov idi. <br>
          Qonaqlarımız səhnədə prezentasiya vasitəsilə müəyyən mövzularda maraqlı çıxışlar etmiş, həmçinin
          auditoriya ilə fikir
          mübadiləsi edərək interaktiv bir görüş həyata keçirmişdirlər.
          Tələbələrimizə fərqli bir perspektiv qazandıran bu faydalı təlim üçün Ələmdar bəyə və Orxan bəyə öz
          dərin təşəkkürlərimizi bildiririk. 💜✌🏻
        </p>
        <a data-eventid="10" href="/Views/Home/Event.html" class="sign">Ətraflı</a>
      </div>
      <div class="image">
        <img src="/Images/Event_Gallery/orkhan_closing.jpg" alt="" />
      </div>
    </section>

    <section id="events">
      <header>
        <p>Tədbirlər</p>
      </header>
      <article>
        <!-- <div class="event">
          <img src="/Images/Events/dropshipping.jpg" alt="">
          <p class="header">Dropshipping nədir? Dropshippingdə reklamın rolu</p>
          <p class="caption">
            📢Əziz tələbələr! 13 oktyabr 2023-cü il tarixində Rəqəmsal Könüllülər Təşkilatının təşkilatçılığı ilə "Drop
            Academy" təlimçilərinin təqdimatında "Dropshipping nədir? Dropshippingdə reklamın rolu" adlı tədbir
            keçiriləcək.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>13 Okt 2023</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>13:00</p>
            </div>
          </div>
          <a data-eventid="12" href="Event.html">Ətraflı</a>
        </div> -->
        <div class="event">
          <img src="/Images/Events/DigiTalk.jpg" alt="">
          <p class="header">Sosial mediadan pul qazanmaq</p>
          <p class="caption">
            Əziz UNEC tələbələri!
            Rəqəmsal Könüllülər Təşkilatı yeni bir layihə ilə qarşınızdadır. DigiTalk 🥳
            Digitalk layihəsi çərçivəsində keçiriləcək tədbirlərə start verərək sizlərə ilk tədbirimizi təqdim edirik.
            10 oktyabr 2023-cü il tarixində Rəqəmsal Könüllülər Təşkilatının təşkilatçılığı ilə “Sosial mediadan pul
            qazanmaq”
            və “Tələbənin şəxsi brendinqi” mövzuları ilə bağlı tədbirimiz baş tutacaq.
            Tədbirin qonaqları - Sosial media məsləhətçisi Ələmdar Manafov və neyromarketinq mütəxəssisi Orxan Şahbaz
            olacaq.
            Hər ikisi öz sahəsində uğurlu olan qonaqlarımız tələbələrlə öz təcrübələri bölüşəcək, şəxsi brendinq, sosial
            media
            və oradan gəlir əldə etmənin yolları barədə danışacaqlar.
            Qeyd edək ki, tədbirdə iştirak edən bütün tələbələr sertifikat qazanacaq. Hər biriniz dəvətlisiniz.💜
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>10 Okt 2023</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="10" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events/ferdi_inkisaf.jpg" alt="" />
          <p class="header">Karyera planlaması və fərdi inkişaf</p>
          <p class="caption">
            Təlimçi iştirakçı tələbələrə düzgün karyera üzrə bacarıqlar əldə etmək, və fərdi inkişafın təməlləri barədə
            əyani
            formada geniş təqdimatla izah etdi.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>10 Okt. 2023</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="9" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events - Copy/oldugun_sen_ve_is_heyati.jpg" alt="" />
          <p class="header">Olduğun sən və iş həyatı</p>
          <p class="caption">
            Səma Nazim və Pərviz Həsənov şəxsiyyətin iş həyatındakı rolu, özünü tanımaq və bunun karyera uğurlarının
            artırmına təsiri barədə çıxış etdi.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>28 Sen. 2023</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="5" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events/Qelebenin_addim_sesi.jpg" alt="" />
          <p class="header">Qələbənin Addım Səsi</p>
          <p class="caption">
            Tədbirdə İkinci Qarabağ müharibəsi və vətənpərvərliklə bağlı mövzular haqda
            danışılmış, həmçinin bununla bağlı videoçarx və musiqi nümayiş etdirilmişdir.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>28 Sen. 2023</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="6" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events - Copy/ECOMSOLDIER.jpg" alt="" />
          <p class="header">Ecomsoldier ilə Amazon və Shopifyda satışlar et</p>
          <p class="caption">
            Təlim zamanı qonaq-mütəxəssis Abdulla Hacızadə ticarətin səmərəli aparılması və Amazon və Shopify kimi
            məşhur platformaların sərfəli istifadəsi barədə dəyərli biliklərini tələbələrlə bölüşdü.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>16 May 2023</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>13:00</p>
            </div>
          </div>
          <a data-eventid="1" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events/Game Industry.jpg" alt="" />
          <p class="header">Azərbaycanda "Game İndustry" və onun inkişafı</p>
          <p class="caption">
            Fidan Rüstəmli yerli və qlobal oyun sənayəsi barədə fikirlərini bölüşdü
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>22 Dek. 2022</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="2" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events/Sosial Medianin heyatimizda rolu.webp" alt="" />
          <p class="header">Sosial medianin həyatımızda rolu</p>
          <p class="caption">
            ”Sosial medianın həyatımızda rolu və rəqəmsal məzmun istehsalçısı”
            adlı layihəmizə davam edirik.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>31 Okt. 2022</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="3" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events/1C de esas vesaitler.jfif" alt="" />
          <p class="header">1C də əsas vəsaitlər</p>
          <p class="caption">
            Rəqəmsal Könüllülər Təşkilatı və Maliyyə-Mühasibat fakültəsinin
            birgə təşkilatçılığı ilə "1C-nin Əsasları" təlimi keçiriləcəkdir.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>26 Okt. 2022</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="7" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events/Sosial Medianin heyatimizda rolu2.webp" alt="" />
          <p class="header">Sosial medianin həyatımızda rolu</p>
          <p class="caption">
            Rəqəmsal Könüllülər Təşkilatı tərəfindən keçiriləcək ”Sosial
            medianın həyatımızda rolu və rəqəmsal məzmun istehsalçısı” adlı
            layihəmizə start verilir.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>21 Okt. 2022</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="4" href="/Views/Home/Event.html">Ətraflı</a>
        </div>
        <div class="event">
          <img src="/Images/Events/Sosial Media Marketinq uzre seminar.jfif" alt="" />
          <p class="header">Sosial media marketinq üzrə seminar</p>
          <p class="caption">
            "Rəqəmsal Könüllülər" təşkilatının Rəqəmsal İqtisadiyyat
            fakültəsinin təşkilatçılığı ilə “Sosial Media Marketinq” üzrə
            seminar keçirləcəkdir.
          </p>
          <div class="date-time">
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              <p>23 May 2022</p>
            </div>
            <div class="time">
              <i class="far fa-clock"></i>
              <p>12:00</p>
            </div>
          </div>
          <a data-eventid="8" href="/Views/Home/Event.html">Ətraflı</a>
        </div>

      </article>
    </section>

    <section id="nextevent">
      <div class="shadow">
      </div>
      <div class="details">
        <p class="name">2 illiyə həsr olunmuş musiqili konsert</p>
        <p class="date-view">
          <i class="fas fa-calendar-alt"></i>2 Noy. 2023 |
          <i class="fas fa-map-marker-alt"></i>IV tədris binası
        </p>
        <p class="nomination">Növbəti konsert</p>
        <p class="caption">
          📢Əziz tələbələr!
          2 oktyabr 2023-cü il tarixində UNEC-də Rəqəmsal Könüllülər Təşkilatı 2 illiyinə hərs olunmuş musiqili konsert
          baş tutacaq.<br>
          🗣Konsertdə çıxış edəcəklər - İlkin Abbasov, Ali Faiq Mirzə, BADCLAUSE, Saybu Swag, Joseph Abbas, Amin
          Vəliyev, İsmayıl
          Zeynalov, Aykan Ahadi, Cavidan Faitihi, AYNABAND və Ayaz Babayev 🥳<br>
          ‼️İştirak şərtləri: RKT üzvü olmaq və instagram hesabımızı izləmək, qeydiyyat zamanı mail adresini düzgün qeyd
          etmək(təsdiq mesajı maillə yollanacaq), tədbirə giriş üçün şəxsiyyət vəsiqəsini gətirmək(əks halda giriş edə
          bilməyəcəksiniz).
          Siz də bu möhtəşəm konsertdə iştirak etmək istəyirsinizsə elə isə qeydiyyatdan keçməyə tələsin.💜
        </p>
        <a href="https://forms.gle/dzhoNGcZKYXvuN3i8" class="sign">Qeydiyyatdan keç</a>
      </div>
      <div class="right-side">
        <div class="img">
          <img src="/Images/Events/2_yas_konsert.jpg" alt="">
        </div>
        <div class="countdown">
          <div class="time day">
            <p class="number"></p>
            <p class="text">Gün</p>
          </div>
          <div class="time hour">
            <p class="number"></p>
            <p class="text">Saat</p>
          </div>
          <div class="time minute">
            <p class="number"></p>
            <p class="text">Dəqiqə</p>
          </div>
          <div class="time second">
            <p class="number"></p>
            <p class="text">Saniyə</p>
          </div>
        </div>
      </div>
    </section>

    <div class="pop-up">
      <div id="acceptregistration">
        <div class="icon">
          <p class="question">?</p>
        </div>
        <div class="data-row">
          <p>
            <span>"Tədbir"</span> tədbirində iştirak etmək istədiyinizi təsdiqləyin
          </p>
        </div>
        <div class="data-row">
          <button class="action-button primary">Təsdiqlə</button>
          <button class="action-button danger">Ləğv et</button>
        </div>
      </div>
    </div>

    <div class="pop-up">
      <div id="accepted">
        <div class="icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="data-row">
          <p>
            <span>"Tədbir"</span> tədbirində iştirakınız uğurla qeydə alındı!
          </p>
        </div>
        <div class="data-row">
          <button class="action-button primary">Bağla</button>
        </div>
      </div>
    </div>

    <div class="pop-up">
      <div id="sessionerror">
        <div class="icon">
          <i class="fas fa-times"></i>
        </div>
        <div class="data-row">
          <p>
            Tədbirdə iştirakınızın qeydə alınması üçün kabinetinizə giriş edin.
          </p>
        </div>
        <div class="data-row">
          <button class="action-button primary">Bağla</button>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="creators">
      <p>Vebsayt
        <a href="https://www.linkedin.com/in/yagmur-novruzlu-50779a21a/" target="_blank">Yağmur Novruzlu</a>,
        <a href="https://www.linkedin.com/in/yusif-farajli-87460424a/" target="_blank">Yusif Fərəcli</a> və
        <a href="https://www.linkedin.com/in/shadiye-ali-699688214/" target="_blank">Şadiyə Əliavsarova</a>
        tərəfindən hazırlanmışdır
      </p>
    </div>
    <div class="socialmedia">
      <p>Sosial şəbəkələrimizdən bizi daha yaxından izləyin</p>
      <div class="links">
        <a target="_blank" href="https://www.instagram.com/unecdigitalvolunteers/">
          <i class="fab fa-instagram instagram"></i>
        </a>
        <a target="_blank" href="https://t.me/reqemsalkonulluler">
          <i class="fab fa-telegram-plane telegram"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/unecdg">
          <i class="fab fa-facebook facebook"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/unec-digital-volunteers-organization/mycompany/">
          <i class="fab fa-linkedin linkedin"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/@unecdigitalvolunteers">
          <i class="fab fa-youtube youtube"></i>
        </a>
      </div>
    </div>

  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="/JavaScript/header.js"></script>

  <script>
    $(document).ready(function () {
      var height = $(window).height();
      var header = $("body>header");
      var eventh = $(".event").height();
      $(".event").height(eventh + 60);
      var headerh = header.outerHeight();
      var docheight = $(document).height();
      $(".pop-up").height(docheight);

      if ($("section#lastevent").height() < height) {
        if (screen.width < 600) {
          $("section#lastevent").css("margin-top", headerh + "px");
        }
        else {
          $("section#lastevent").outerHeight(height - headerh);
          $("section#lastevent").css("margin-top", 0);
        }
      }
      console.log(height, height - headerh);

      $(document).scroll(function () {
        if ($(document).scrollTop() > 100) {
          $("body>footer").css("display", "flex");
        } else {
          $("body>footer").css("display", "none");
        }
      });

      var month = 0,
        day = 0,
        hour = 0,
        minute = 0,
        second = 0;

      setInterval(function () {
        var nowdate = new Date(),
          eventdate = new Date("2023-11-02T13:00:00");
        var difference = eventdate.getTime() - nowdate.getTime();
        day = Math.floor(difference / (1000 * 3600 * 24));
        hour = Math.floor(difference / (1000 * 3600)) - day * 24;
        minute =
          Math.floor(difference / (1000 * 60)) -
          Math.floor(difference / (1000 * 3600)) * 60;
        second =
          Math.floor(difference / 1000) -
          Math.floor(difference / (1000 * 60)) * 60;

        $(".countdown>.day>.number").text(day);
        $(".countdown>.hour>.number").text(hour);
        $(".countdown>.minute>.number").text(minute);
        $(".countdown>.second>.number").text(second);
      }, 1000);
    });
  </script>

  <script>
    $(".event button").click(function () {
      var eventname = $(this).siblings("p.header").text();
      $("#acceptregistration").parent().css("display", "flex");
      $("#acceptregistration p>span").text(eventname);
      $("#accepted p>span").text(eventname);
      $("body").css("overflow", "hidden");
    });

    $("#acceptregistration button.danger").click(function () {
      $("#acceptregistration").parent().css("display", "none");
      $("body").css("overflow", "auto");
    });
    $("#acceptregistration button.primary").click(function () {
      $("#acceptregistration").parent().css("display", "none");
      $("#accepted").parent().css("display", "flex");
    });
    $("#accepted button.primary").click(function () {
      $("#accepted").parent().css("display", "none");
      $("body").css("overflow", "auto");
    });
    $("#sessionerror button.primary").click(function () {
      $("#sessionerror").parent().css("display", "none");
      $("body").css("overflow", "auto");
    });

    $(".event a").click(function () {
      const eventid = $(this).attr("data-eventid");
      fetch("/JavaScript/events.json")
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          $.each(data, function (i, event) {
            if (event.eventid == eventid) {
              localStorage.setItem('event', JSON.stringify(event));
              window.location.href = "/Views/Home/Event.html";
            }
          });
        });
    });
  </script>
</body>

</html>