<!DOCTYPE html>

<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3Y25VW1RJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-M3Y25VW1RJ');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rəqəmsal Kabinet</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="Images/new Logo - white.png" />
    <link href="Style/Mainpage.css" rel="stylesheet" />
    <link href="Style/Staff.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
</head>

<body>
    <!--<header>
        <p>Rəqəmsal könüllülər</p>

        <ul>
            <li>İstifadəçilər</li>
            <li>Tədbirlər</li>
            <li>Xəbərlər</li>
            <li>Tarixi</li>
        </ul>
    </header>-->

    <header>
        <div class="header-left">
            <!--<img src="Images/volunteers.png" alt="">-->
            <a href="Home.html"><img src="Images/new Logo - white.png" alt="" /></a>
            <i id="menubtn" class="fas fa-bars"></i>
        </div>
        <div class="header-mid">
            <ul>
                <a href="Events.html">
                    <li>Tədbirlər</li>
                </a>
                <a href="About.html">
                    <li>Haqqında</li>
                </a>
                <a href="News.html">
                    <li>Xəbərlər</li>
                </a>
                <a href="Staff.html">
                    <li>Heyət</li>
                </a>
            </ul>
            <a href="Home.html"><img src="Images/new Logo - white.png" alt="" /></a>
        </div>
        <div class="header-right">
            <a href="login.html">Üzv girişi</a>
        </div>
    </header>

    <nav>
        <ul>
            <a href="Events.html">
                <li>Tədbirlər</li>
            </a>
            <a href="About.html">
                <li>Haqqında</li>
            </a>
            <a href="News.html">
                <li>Xəbərlər</li>
            </a>
            <a href="Staff.html">
                <li>Heyət</li>
            </a>
        </ul>
    </nav>


    <main>
        <section id="staff">
            <header>
                <p>İdarə heyəti</p>
            </header>
            <article>
                <div class="members">
                    <div class="member">
                        <img src="Images/Staff/Ceferisadiq Ibrahimov.jfif" alt="" />
                        <div class="member-info">
                            <p class="name">Cəfərisadiq İbrahimov</p>
                            <p class="position">Təşkilat üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Nezrin Veliyeva.jpg" alt="" />
                        <div class="member-info">
                            <p class="name">Nəzrin Vəliyeva</p>
                            <p class="position">Təşkilat üzrə Sədr müavini</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Rasul Memmedeliyev.jfif" alt="" />
                        <div class="member-info">
                            <p class="name">Rəsul Məhəmmədəliyev</p>
                            <p class="position">Təşkilat üzrə Sədr müavini</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Vefaxanim Hebilova.jpeg" alt="" />
                        <div class="member-info">
                            <p class="name">Vəfa Xanım Həbilova</p>
                            <p class="position">Təşkilat katibi</p>
                        </div>
                    </div>
                </div>
            </article>

            <header>
                <p>Rəhbər heyət</p>
            </header>
            <article id="leaders">
                <div class="members">
                    <div class="member">
                        <img src="Images/Staff/Nurcan Suleymanli.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Nurcan Suleymanlı</p>
                            <p class="position">Fakültələr ilə iş üzrə rəhbər</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Yagmur_Novruzlu_2.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Yağmur Novruzlu</p>
                            <p class="position">"IT" departamenti üzrə rəhbər</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Fatime Hesenzade.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Fatimə Həsənzadə</p>
                            <p class="position">Nəzarət və təftiş üzrə rəhbər</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Bagirova Kusverxanim.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Bağırova Küşvərxanım</p>
                            <p class="position">Nəzarət və təftiş üzrə rəhbər</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Melek_Haciyeva.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Mələk Hacıyeva</p>
                            <p class="position">Kütləvi təlim və tədbir rəhbəri</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Nihad İsgenderov.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Nihad İsgəndərov</p>
                            <p class="position">"SMM" departamenti üzrə rəhbər</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Mujgan Aliyeva.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Müjgan Əliyeva</p>
                            <p class="position">"PR" departamenti üzrə rəhbər</p>
                        </div>
                    </div>

                    <div class="member">
                        <img src="Images/Staff/Erkinaz Muradova.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Ərkinaz Muradova</p>
                            <p class="position">"HR" departamenti üzrə rəhbər</p>
                        </div>
                    </div>
                </div>

            </article>

            <header>
                <p>Fakültələr üzrə sədrlər</p>
            </header>
            <article id="facultychairmans">
                <div class="members">
                    <div class="member">
                        <img src="Images/Staff/Yusif Ferecli.jpeg" alt="">
                        <div class="member-info">
                            <p class="name">Yusif Fərəcli</p>
                            <p class="position">"Rəqəmsal İqtisadiyyat" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Kamran_Abaev.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Kamran Abaev</p>
                            <p class="position">"ISE" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Sonaxanim İsmayilova.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Sonaxanım İsmayılova</p>
                            <p class="position">"SABAH" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Ali_Zeynalli.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Əli Zeynallı</p>
                            <p class="position">"Maliyyə və Mühasibat" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Ali Memmedov.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Əli Məmmədov</p>
                            <p class="position">"Rus İqtisad Məktəbi" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/defaultPP.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Vakansiya!</p>
                            <p class="position">"Mühəndislik" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Vuqar Eliyev.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Vüqar Əliyev</p>
                            <p class="position">"Biznes və Menecment" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Nihad İsgenderov.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Nihad İsgəndərov</p>
                            <p class="position">"İqtisadiyyat və İdarəetmə" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/defaultPP.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Vakansiya!</p>
                            <p class="position">"Dizayn" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="Images/Staff/Aysel Babayeva.jpg" alt="">
                        <div class="member-info">
                            <p class="name">Aysel Babayeva</p>
                            <p class="position">"TUDİFAK" fakültəsi üzrə Sədr</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <!-- <section id="vacancy">
            <p class="header">Yoldaş axtarırıq</p>
            <article>
                <div class="digi">
                    <img src="Images/digi searching.png" alt="">
                </div>
                <div class="vacancies">
                    <p>Aşağıdakı vakansiyalar üzrə səndə aramıza qoşul</p>
                    <ul>
                        <li class="header">Fakültə üzrə sədr</li>
                        <li>"Maliyyə və Mühasibat" fakültəsi</li>
                        <li>"Mühəndislik" fakültəsi</li>
                        <li>"İqtisadiyyat və İdarəetmə" fakültəsi</li>
                        <li>"Dizayn" fakültəsi</li>
                    </ul>
                    <a target="_blank" href="https://www.facebook.com/unecdg">
                        <i class="fab fa-whatsapp"></i>
                        <p>Əlaqə</p>
                    </a>
                </div>
            </article>
        </section> -->
    </main>

    <footer>
        <div class="creators">
            <p>Vebsayt
                <a href="https://www.linkedin.com/in/yagmur-novruzlu-50779a21a/" target="_blank">Yağmur Novruzlu</a>,
                <a href="https://www.linkedin.com/in/yusif-farajli-87460424a/" target="_blank">Yusif Fərəcli</a> və
                <a href="https://www.linkedin.com/in/shadiye-ali-699688214/" target="_blank">Şadiyə Əliavsarova</a>
                tərəfindən hazırlanmışdır
            </p>
        </div>
        <div class="socialmedia">
            <p>Sosial şəbəkələrimizdən bizi daha yaxından izləyin</p>
            <div class="links">
                <a target="_blank" href="https://www.instagram.com/unecdigitalvolunteers/">
                    <i class="fab fa-instagram instagram"></i>
                </a>
                <a target="_blank" href="https://t.me/reqemsalkonulluler">
                    <i class="fab fa-telegram-plane telegram"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/unecdg">
                    <i class="fab fa-facebook facebook"></i>
                </a>
                <a target="_blank"
                    href="https://www.linkedin.com/company/unec-digital-volunteers-organization/mycompany/">
                    <i class="fab fa-linkedin linkedin"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/@unecdigitalvolunteers">
                    <i class="fab fa-youtube youtube"></i>
                </a>
            </div>
        </div>

    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="JavaScript/header.js"></script>

    <script>
        $(document).ready(function () {
            var top = $("section#home>footer").offset().top;
            var height = $(window).height();
            var header = $("body>header");
            headerh = header.outerHeight();

            $(document).scroll(function () {
                if ($(document).scrollTop() > 100) {
                    header.addClass("shrink");
                }
                else {
                    header.removeClass("shrink")
                }
            });

            $(document).scroll(function () {
                if ($(document).scrollTop() > 100) {
                    header.addClass("shrink");
                    $("body>footer").css("display", "flex");
                } else {
                    header.removeClass("shrink");
                    $("body>footer").css("display", "none");
                }
            });
        });


    </script>

</body>

</html>