@media only screen and (min-width: 601px) {
  main {
    flex-direction: column;
  }
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 25px;
    justify-content: space-evenly;
    align-items: center;
  }
  nav .page {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #006bce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  nav .page p,
  nav .page i {
    font-size: 20px;
    color: white;
    margin: 0;
  }
  nav .page p {
    font-weight: 500;
  }
  .content {
    margin: 25px;
    flex-direction: row;
  }
  .content #user-card {
    height: 100%;
    justify-content: center;
  }
  .content #user-card img {
    width: 150px;
    border-radius: 50%;
  }
  .content #user-card .user-datas {
    margin-left: 20px;
    height: 100%;
    justify-content: space-between;
    width: 280px;
  }
  .content #user-card .user-datas p {
    margin: 0;
  }
  .content #user-card .user-datas p.name {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
  }
  .content #user-card .user-datas p.faculty {
    font-size: 16px;
    color: #3e465b;
  }
  .content #user-card .user-datas label {
    align-self: flex-end;
    cursor: pointer;
  }
  .content #user-card .user-datas input {
    display: none;
  }
  .content #user-card .user-datas p#imageerror {
    background-color: transparent;
    border: none;
    text-align: end;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content #user-card .user-datas p.error {
    color: #ff331f;
  }
  .content #user-card .user-datas p.success {
    color: #3f8f3e;
  }
  .content #new-password {
    margin-left: 20px;
    height: 100%;
  }
  .content #new-password h4,
  .content #new-password p {
    margin-bottom: 0.3rem;
  }
  .pop-up {
    display: none;
    flex-direction: column;
  }
  .pop-up input {
    width: 240px;
    margin: 2px 0;
  }
  .pop-up input[type=file] {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  ul {
    list-style: none;
    width: 100%;
    padding: 10px !important;
    margin: 0 !important;
  }
  ul li.settingspage a {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
  }
  ul li.settingspage a i:first-child {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfe8ff;
    color: #006bce;
    border-radius: 8px;
  }
  ul li.settingspage a p {
    margin: 0;
    margin-left: 10px;
    font-weight: 500;
  }
  ul li.settingspage a i:last-child {
    display: flex;
    margin: 0 5px 0 auto;
  }
  ul li.settingspage a:hover {
    background-color: #ccc;
  }
  .editdetails {
    margin: 15px;
    width: 100%;
  }
  .editdetails h3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .editdetails .data-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }
  .editdetails .data-field label {
    font-weight: 500;
  }
  .editdetails .data-field input {
    width: 100%;
  }
  .editdetails .data-field-radio input[type=radio] {
    accent-color: #006bce; /* IE 9 */ /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 5px;
  }
  .editdetails h6 {
    margin-top: 15px;
  }
  .editdetails button {
    margin-top: 15px;
    width: 100%;
  }
  #user-card {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  #user-card #btnchangeimage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    /* Center the image */
    background-position: center;
    outline: none;
    border: 2px solid #006bce;
    opacity: 0.8;
  }
  #user-card #btnchangeimage i {
    color: #006bce;
    font-size: 22px;
    opacity: 1 !important;
  }
  #user-card .user-datas {
    margin-left: 20px;
    height: 100%;
    justify-content: space-between;
    width: calc(100% - 20px);
  }
  #user-card .user-datas p {
    margin: 0;
  }
  #user-card .user-datas p.name {
    font-weight: 500;
    font-size: 24px;
  }
  #user-card .user-datas p.faculty {
    font-size: 16px;
    color: #3e465b;
  }
  #user-card .user-datas label {
    align-self: flex-end;
    cursor: pointer;
  }
  #user-card .user-datas input {
    display: none;
  }
  #user-card .user-datas p#imageerror {
    background-color: transparent;
    border: none;
    text-align: end;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pop-up {
    display: none;
    flex-direction: column;
  }
  .pop-up input {
    width: 240px;
    margin: 2px 0;
  }
  .pop-up input[type=file] {
    display: none;
  }
}
p.error {
  color: #ff331f !important;
  border: none;
  max-width: 240px;
  text-wrap: wrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.success {
  color: #3f8f3e;
  background-color: transparent !important;
  border: none !important;
  max-width: 240px;
  text-wrap: wrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}/*# sourceMappingURL=Settings.css.map */